@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Young+Serif&display=swap");

body {
  background-color: #003566;
  color: #ffc300;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100dvh;
}

.grid {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  min-height: 100dvh;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  width: calc(100% - 3em);
}

header,
main,
footer {
  grid-column: 1 / -1;
}

header {
  background-color: #ffc300;
  padding: 0.5em;
}

header > .container {
  align-items: center;
  display: flex;
  gap: 2em;
}

header img {
  aspect-ratio: 1;
  background-color: #fff;
  border: 5px solid #003566;
  border-radius: 50%;
  padding: 0.5em;
  width: 125px;
}

h1 {
  color: #003566;
  font-family: "Young Serif", serif;
  letter-spacing: 1px;
}

main {
  grid-row: 2 / 3;
}

.vote {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  padding: 2em 0;
}

.vote__results {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  max-height: 70dvh;
  padding-right: 1em;
  overflow-y: auto;
}

.vote__results::-webkit-scrollbar {
  border: 1px solid;
  border-radius: 100em;
  width: 1em;
}

.vote__results::-webkit-scrollbar-thumb {
  background-color: #ffc300;
  border-radius: 100em;
}

.vote__results > h2 {
  margin: 0;
}

.vote__results ul {
  list-style: circle;
}

.vote__results li {
  margin: 1em 0;
}

.vote__results > button {
  background-color: #ffc300;
  border-radius: 100em;
  color: #003566;
  font-weight: 700;
  margin-top: 1em;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
}

.vote__results > button:not(:disabled):hover {
  cursor: pointer;
  scale: 0.95;
}

.vote__results > button:disabled {
  opacity: 0.5;
}

.vote__options {
  grid-column: 2 / -1;
}

.vote__options {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.vote__options > img {
  align-self: start;
  aspect-ratio: 1;
  border: 5px solid #ffc300;
  border-radius: 1em;
  cursor: pointer;
  object-fit: cover;
  width: 30%;
}

.vote__options > img:hover {
  box-shadow: 0em 0em 2em #ffc300;
}

canvas {
  align-self: center;
  background-color: #fff;
  border: 5px solid;
  border-radius: 1em;
  display: none;
  grid-column: 2 / -1;
  grid-row: 1/-1;
  max-height: 70dvh;
  max-width: 100%;
  padding: 1em;
}

canvas.show {
  display: block;
}

.charts-link {
  align-self: start;
  background-color: #ffc300;
  border-radius: 100em;
  color: #003566;
  display: none;
  font-weight: 700;
  grid-column: 2 / -1;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}

.charts-link.show {
  display: block;
}

footer {
  background-color: #ffc300;
  color: #003566;
  grid-row: 3 / -1;
  text-align: center;
  padding: 1em;
}

footer > * {
  align-items: center;
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0;
}
