body {
  min-height: 100dvh;
}

.grid {
  display: grid;
  grid-template: 10em 1fr 10em / 1fr;
  height: 100dvh;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  width: calc(100% - 3em);
}

header,
main,
footer {
  grid-column: 1 / -1;
}

header > .container {
  align-items: center;
  display: flex;
  gap: 2em;
}

header img {
  width: 100px;
}

main {
  grid-row: 2 / 3;
}

.vote {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.vote__results {
  grid-column: 1;
  grid-row: 1 / -1;
}

.vote__results > h2 {
  margin: 0;
}

.vote__results ul {
  list-style: none;
  padding-left: 0;
}

.vote__results li {
  margin: 1em 0;
}

.vote__options,
.vote__instructions {
  grid-column: 2 /-1;
}

.vote__options {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.vote__options > img {
  aspect-ratio: 1;
  border: 5px solid;
  object-fit: cover;
  width: 30%;
}

.vote__instructions {
  grid-row: 2/-1;
}

footer {
  grid-row: 3 / -1;
  text-align: center;
}
